:host {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

main {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: block;
  margin: 68px 0;
  padding: 0 20px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media screen and (max-width: 600px) {
  main {
    margin-top: 206px;
  }
}
